@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

header {
  text-align: center;
  margin-top: 100px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    };
  }

  .avatar {
    text-indent: -9999px;
    background-image: url(http://jlai.org/images/profile.png);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 400px;
    background-size: cover;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5), inset 0 0 2px 1px rgba(0,0,0,0.05);
  }

  h2 {
    a {
      color: #000;
    }
  }
}


#feed {
  text-align: center;
  margin-top: 35px;

  ul {
    list-style: none;
    margin: 0;

    li {
      list-style: none;
      margin: 0 0 20px;

      margin: 13px;
      padding: 13px;
      border-bottom: 1px solid #ddd;

      &:last-child {
        border: 0;
      }

      h3 {
        margin: 0;
        line-height: 1em;

        a {
          display: block;
          font-size: 16px;
        }
      }

      p {
        margin: 0;
      }

      time {
        color: #aaa;
        font-size: 11px;
      }
    }
  }
}


@media (max-width: 767px) {
  header {
    margin: 40px 0;
  }

  #feed {
    margin: 0 20px;
  }
}
