body {
	padding: 0;
  margin: 0;
}

p {
  line-height: 1.8em;
}

.navbar {
  .container {
    width: 600px;
  }
}

@media (max-width: 979px) {
  .navbar {
    .container {
      width: auto;
    }
  }

}


@media (max-width: 767px) {
  .navbar {
    .navbar-inner {
      margin: 0;
    }
    .container {
      width: auto;
    }
    .brand {
      margin: 0 auto;
      float: none;
      width: 105px;
      text-align: center;
    }
    .btn-navbar {
      margin-right: 15px;
    }
  }
}


@media (max-width: 480px) {
  .navbar {
    .navbar-inner {
      margin: 0 20px;
    }
  }
}

#container {
  max-width: 600px;
}


footer {
  margin: 30px auto 20px;
  text-align: center;

  p {
    margin: 0;
  }
}